
.spider {
    margin-left: 5%;
    display: inline-block;
    position: relative;
    margin: auto;
    width: 100%;
    background-color: rgb(45, 204, 112);
    height: 40%;
    background-image: url("../images/bgfood.jpg");
}

.smallDivider {
    height: 1px;
    width: 80%;
    background-color: #e2e2e2;
    position: fixed;
    margin-left: 10%;
}

div#circle {
    text-align: center;
    padding-top: 20px;
    z-index: 999;
}

div#healthIndex {
    top: -80px;
    font-size: 15px;
    position: relative;
    color: white;
}

div#percentageHealth {
    font-size: 20px;
}

.indicator {
    width: 20%;
    position: relative;
    float: left;
    height: auto;
    padding-left: 20px;
}

.indicator img {
    border-radius: 50%;
    height: auto;
    width: 65%;
    padding: 5px;
}

.brand {
    text-align: left;
    font-size: 16px;
    color: #262626;
    float: left;
    width: 60%;
    font-weight: normal;
    line-height: 50px;
    position: relative;
}

.brandItem {
    font-weight: bold;
    width: 100%;
    background-color: white;
    height: 55px;
    margin-top: 5px;
}

p {
    opacity: 0;
    position: relative;
    float: right;
    left: -58px;
    /* width: 50px; */
    line-height: normal;
    top: -60px;
    padding: 2px 10px;
    height: 20px;
    border-radius: 3px;
    background: #9E9E9E;
    box-shadow: 1px 2px 10px #555;
}

.floatLeft {
    float: left;
    padding-left: 50px;
}

.floatRight {
    float: right;
    padding-right: 50px;
}

div#container {
    height: auto;
}

.cir {
    z-index: 2;
    opacity: 0;
    position: absolute;
    right: 50%;
    bottom: 50%;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    transition: all 0.5s cubic-bezier(0.680, -0.550, 0.265, 1.550);
}

* {
    outline: none;
}